<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="/css/style.css"></style>
    </head>
    <body>
        {{>header}}
        <div class="main-content">
            <p>{{errorMessage}}</p>
        </div>
        {{>footer}}
    </body>
</html>