<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather-app_icon.png">
        <link rel="stylesheet" href="/css/style.css"></style>
    </head>
    <body>
        {{>header}}
        <div class="main-content">
            <p>{{content}}</p>
        </div>        
        {{>footer}}
    </body>
</html>
